<div class="container mt-4 text-center">
  <h1>Counter</h1>
  <h2>{{ count$ | async }}</h2>
  <button class="btn btn-success mt-1 me-2" (click)="increment()">
    Increment
  </button>
  <button class="btn btn-primary mt-1" (click)="decrement()">Decrement</button>
  <hr />
</div>
<div class="container mt-4 text-center">
  <app-my-counter1></app-my-counter1>
</div>
<hr />
<div class="container mt-5 mb-4">
  <h2>NGRX</h2>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-todo-input></app-todo-input>
      <hr />
      <app-todo-item
        *ngFor="let todo of allTodos$ | async"
        [todo]="todo.content"
        [id]="todo.id"
      ></app-todo-item>
    </div>
  </div>
</div>

<hr />
<div class="container mt-5 mb-4">
  <h2>NGXS</h2>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-todo-inputxs></app-todo-inputxs>
      <hr />
      <app-todo-itemxs
        *ngFor="let todo of todoItems$ | async"
        [todo]="todo.content"
        [id]="todo.id"
      ></app-todo-itemxs>
    </div>
  </div>
</div>
