<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <label>Add a todo</label>
      <input type="text" class="form-control" [(ngModel)]="todo" />
    </div>
    <button class="btn btn-success mt-2" (click)="addTodo()">Add todo</button>
  </div>
</div>
