<h3>Counter</h3>
<h4>{{ count_1$ | async }}</h4>
<button class="btn btn-success mt-1 me-2" (click)="multiply()">Multiply</button>
<button class="btn btn-primary mt-1" (click)="divide()">Divide</button>
<hr />
<app-my-counter2></app-my-counter2>
